.button__main{
    text-decoration: none;
    color:black;
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;
    transition: .3s;
    font-size: 20px;
    font-weight: 300;
}
.button__main:hover{
    color:red;
}

